body {
    font-family: inder; 
    background-color: rgb(247, 219, 185);
}

main {
    max-width: 1200px;
    margin: auto; font-size: xx-large;
    gap: 2;
}
footer {
    max-width: 1200px;
    background-color: lightgrey;
    margin: auto; font-size: larger;
    
}